<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.xgh.retriever</string>
  <key>ProgramArguments</key>
  <array>
    <string>XGH_CLAUDE_BIN</string>
    <string>-p</string>
    <string>/xgh-retrieve</string>
    <string>--allowedTools</string>
    <string>mcp__claude_ai_Slack__*,mcp__claude_ai_Atlassian__*,mcp__claude_ai_Figma__*,Bash,Read,Write,Glob</string>
    <string>--max-turns</string>
    <string>3</string>
  </array>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>StandardOutPath</key>
  <string>XGH_LOG_DIR/retriever.log</string>
  <key>StandardErrorPath</key>
  <string>XGH_LOG_DIR/retriever.log</string>
  <key>RunAtLoad</key>
  <false/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>XGH_USER_HOME</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
  </dict>
</dict>
</plist>
